<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">History</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>History</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->
        <!-- About Section Start -->
        <div id="rs-about" class="rs-about style1 pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-last padding-0 md-pl-15 md-pr-15 md-mb-30">
                        <div class="img-part">
                            <img class="" src="assets/images/cems/about.JPG" alt="About Image">
                        </div>
                    </div>
                    <div class="col-lg-6 pr-70 md-pr-15">
                        <div class="sec-title">
                            <div class="sub-title orange">About Kasturba Kanya Vidhyalaya</div>
                            <h2 class="title mb-17">History</h2>
                            <div class="bold-text mb-22">આણંદ જીલ્લાના મુખ્ય મથક આણંદ શહેરની મધ્યમાં ચરોતર એજ્યુકેશન
                                સોસાયટીની સ્થાપના ઈ.સ. ૧૯૧૬ માં કરવામાં આવી હતી. </div>
                            <div class="desc">સોસાયટીનું બંધારણ વિશ્વ વિખ્યાત બંધુ બેલડીમાંના વિઠ્ઠલભાઈ પટેલે ઘડ્યું
                                હતું અને સંસ્થાની પહેલી શાળા ડી.એન.હાઇસ્કૂલ શરૂ કરવામાં આવી. સ્ત્રી કેળવણીની
                                દિન-પ્રતિદિન વધતી જતી માંગને ધ્યાનમાં રાખીને સાંપ્રત સમયની ચરોતર એજ્યુકેશન સોસાયટીની
                                નિયામક સભાએ કન્યા કેળવણીને ઉત્તેજન માંગે તે માટે તા.: ૭-૯-૧૯૫૨ ની સામાન્ય સભામાં જુન
                                ૧૯૫૩ થી કન્યાઓ માટે એક અલાયદી સંસ્થા ઉભી કરવાનો ઠરાવ પસાર કર્યો. ભારત દેશના રાષ્ટ્રપિતા
                                મહાત્માગાંધી ના અર્ધાંગીની તેમજ સ્વાતંત્ર્યની ચળવળમાં લાખો સ્ત્રીઓને સાકળનાર પ્રાત:
                                સ્મરણીય પૂજ્ય કસ્તૂરબાનું નામ જોડાય એ હેતુથી સંસ્થા નું નામ “કસ્તૂરબા કન્યા વિદ્યાલય”
                                આપવામાં આવ્યું. </div>
                            <div class="desc">
                                ૮ મી જૂન ૧૯૫૩ ના રોજ કસ્તૂરબા કન્યા વિદ્યાલયનું મંગલાચરણ ચરોતર એજ્યુકેશન સોસાયટીના જ એક
                                ભૂતપૂર્વ વિદ્યાર્થી અને કેળવણીના ભેખધારી શ્રી શિવાભાઈ ગોકળભાઈ પટેલના હસ્તે થયું હતું. તે
                                સમયે સંસ્થા પાંચ વર્ગો ધરાવતી હતી. જેમાં ૨૩૦ બહેનો અભ્યાસ કરતી હતી. આમ પાંચ વર્ગોથી શરૂ
                                થયેલી શાળા આજે ૩૧ વર્ગો અને ૨૨૪૫ વિદ્યાર્થીનીઓની સંખ્યા ધરાવે છે. આ સંસ્થા ફૂલીફાલીને એક
                                વિશાળ વટવૃક્ષ સમી આનંદની નામાંકિત સંસ્થાના સ્વરૂપે આગવા ગૌરવ સાથે કાર્યાન્વિત છે. <br>
                                રાષ્ટ્રીય ભાવનાથી થનગનતી અને ૨૧ મી સદીના વિશ્વના પ્રગતિશીલ દેશોની બરાબરી કરી શકે એવી
                                ભારતીય વીરાંગનાઓ ઘડવાનું કામ આ સંસ્થા છેલ્લા ૬૪ વર્ષથી કરી રહી છે. <br>
                                વર્ષ ૨૦૦૨ માં કન્યા કેળવણીને આપેલ પ્રોત્સાહન સ્વરૂપે આણંદ જિલ્લામાં સૌપ્રથમ કન્યાઓ માટે
                                ધોરણ-૧૧ (વિજ્ઞાન પ્રવાહ) ગ્રાન્ટેબલ (૬૦-૪૦%) શરૂ કરવાની માન્યતા મળેલી હતી. આથી જુન-૨૦૦૨
                                થી ધોરણ-૧૧ વિજ્ઞાન પ્રવાહના શ્રી ગણેશ પ્રાત: વંદનીય, ચરોતર રત્ન, શિક્ષક એવોર્ડથી નવાજિત
                                શ્રી વિઠ્ઠલકાકાના હસ્તે થયા. જૂન ૨૦૧૨ માં સામાન્ય પ્રવાહ શરુઆત કરવામાં આવી હતી.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End -->

        <!-- Newsletter section start -->
        <!-- <div class="rs-newsletter style1 orange-color mb--90 sm-mb-0 sm-pb-70">
            <div class="container">
                <div class="newsletter-wrap">
                    <div class="row y-middle">
                        <div class="col-lg-6 col-md-12 md-mb-30">
                            <div class="content-part">
                                <div class="sec-title">
                                    <div class="title-icon md-mb-15">
                                        <img src="assets/images/newsletter.png" alt="images">
                                    </div>
                                    <h2 class="title mb-0 white-color">Subscribe to Newsletter</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <form class="newsletter-form">
                                <input type="email" name="email" placeholder="Enter Your Email" required="">
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Newsletter section end -->
    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>