<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">History</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>History</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumbs End -->
			<!-- About Section Start -->
			<div id="rs-about" class="rs-about style1 pt-100 pb-100 md-pt-70 md-pb-70">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 order-last padding-0 md-pl-15 md-pr-15 md-mb-30">
							<div class="img-part">
								<img class="" src="assets/images/cems/about.JPG" alt="About Image">
							</div>
						</div>
						<div class="col-lg-6 pr-70 md-pr-15">
							<div class="sec-title">
								<div class="sub-title orange">About D.N. Highschool</div>
								<h2 class="title mb-17">History</h2>
								<div class="bold-text mb-22">પ્રાથમિક શિક્ષણ એ સર્વાંગી વ્યક્તિત્વ વિકાસનો પાયો છે. પ્રાથમિક શાળા એટલે શિસ્ત, સંસ્કાર સિંચન અને સામાજીકરણ માટેનું એક અદ્વિતીય સ્થાન. </div>
								<div class="desc">પ્રાચીનકાળથી કમ્પુટર યુગ સુધીના લાંબા ગાળામાં શિક્ષણની ક્ષિતિજો ખુબ જ વિસ્તરીત થઇ છે. શિક્ષણક્ષેત્રે કેળવણીની વ્યાખ્યા સિદ્ધ કરવા,શિક્ષણની સાથે સાથે શિસ્ત અને સંસ્કાર પર વધુ ભાર મુકવામાં આવે છે. શાળામાં અભ્યાસની સાથો સાથ બાળમાનસના ઘડતર માટે સહ અભ્યાસિક પ્રવુત્તિઓનું અહી આયોજન કરવામાં આવે છે. અનુભવી અને કાર્યનિષ્ઠ શિક્ષકગણ વિદ્યાર્થીઓનું ખુબ જ પ્રેમથી જતન કરે છે. જ્ઞાનના સાગરને છલકાવતી ડી. એન. હાઇસ્કૂલ ઉચ્ચ પ્રાથમિક વિભાગ હંમેશા સફળતા અને કીર્તિના શિખરો સર કરે તેવી અમે સૌ શાળા પરિવારના સભ્યો ખેવના રાખીએ છીએ. </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- About Section End -->

        <!-- Newsletter section start -->
        <!-- <div class="rs-newsletter style1 orange-color mb--90 sm-mb-0 sm-pb-70">
            <div class="container">
                <div class="newsletter-wrap">
                    <div class="row y-middle">
                        <div class="col-lg-6 col-md-12 md-mb-30">
                            <div class="content-part">
                                <div class="sec-title">
                                    <div class="title-icon md-mb-15">
                                        <img src="assets/images/newsletter.png" alt="images">
                                    </div>
                                    <h2 class="title mb-0 white-color">Subscribe to Newsletter</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <form class="newsletter-form">
                                <input type="email" name="email" placeholder="Enter Your Email" required="">
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Newsletter section end -->
    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>