<!-- Choose Section Start -->
<div id="facility" class="why-choose-us style2 gray-bg3 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-last">
                <div class="video-wrap md-mb-40">
                    <img src="assets/images/cems/5.jpg" alt="">
                    <!-- <a class="popup-videos" href="https://www.youtube.com/watch?v=atMUy_bPoQI">
                        <i class="fa fa-play"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="sec-title2 mb-40">
                    <!-- <div class="sub-title">Open Round Starts From 29th June 2022 onwards.</div> -->
                    <h2 class="title purple-color">FACILITIES </h2>
                    <!-- <div class="desc pr-124 md-pr-15">
                    <a href="http://www.spuvvn.edu/students_corner/admissions/" target="_blank">Students can fill online form  on S P University's website.
                        For instructions and details kindly visit :</a>
                    </div> -->
                </div>
                <div class="facilities-two">
                    <div class="row">
                        <div class="col-lg-12 mb-40 md-mb-25 col-md-12 single-facility">
                            <ul style="list-style-type: disc; text-align: justify;">
                                <li>શિક્ષણ અને શિક્ષણ માટેની ભૌતિક સુવિધા એક સિક્કાની બે બાજુ સમાન છે તેને
                                    ધ્યાનમાં રાખીને વહીવટકર્તાઓએ શાળા માટે સુંદર મકાન ઊભું કરેલ છે</li>
                                <li>સંસ્થાનું બિલ્ડીંગ C આકારનું છે જેમાં ભોયતળિયે 16 ઓરડાઓનો સમાવેસ થાય છે.
                                    જેમાં આચાર્યશ્રીની ઓફીસ, બહેનો તથા ભાઈઓનો સ્ટાફ રૂમ, ચિત્રકળા વર્ગ,
                                    કમ્પ્યુટર વર્ગ ,સંગીત રૂમ અને વ્યાયામ રૂમ આવેલા છે. મકાનના પ્રથમ માળે પણ 16
                                    રૂમ આવેલા છે તથા બીજા માળે 12 આવેલા છે. દરેક રૂમમાં સ્પીકરની સુવિધા કરેલી
                                    છે. રૂમોની બાંધણી હવા ઉજાસ વાળી છે.</li>
                                <li>શિક્ષણની બદલાતી પધ્ધતિ અનુસાર વૈશ્વિક શિક્ષણ પધ્ધતિ સાથે તાલ મિલાવી શકે તે
                                    હેતુથી 2010-11 થી મલ્ટીમીડિયા પ્રોજેક્ટર દ્વારા શિક્ષણનુ રસપાન કરાવવામાં આવે
                                    છે.</li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Choose Section End -->