<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/cems/about.JPG" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        About Us
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-22"> Primary education is the foundation of holistic personality
                        development</div>
                    <p class="desc mb-45">
                        Primary school is a unique place for discipline, culture and socialization. The horizons of
                        education have greatly expanded in the long run from antiquity to the computer age. In order to
                        achieve the definition of education in the field of education, more emphasis is laid on
                        discipline and sacrament as well as education.
                    </p>
                    <p class="desc mb-45">
                        Co-curricular activities are organized here for the development of the child's mind along with
                        the study in the school. Experienced and diligent teachers take great care of the students.
                        Overflowing the ocean of knowledge d. N. We wish all the members of the school family that the
                        high school upper primary department will always reach the pinnacle of success and glory.
                    </p>
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->