<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/cems/5.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        About Us
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-22"> Charotar Education Society was established in the heart of Anand city,
                    </div>
                    <p class="desc mb-45">
                        the headquarters of Anand district in AD. It was done in 1916. The constitution of the society
                        was framed by Vitthalbhai Patel of the world famous Bandhu Beldi and the first school of the
                        institution was started D.N. High School.
                    </p>
                    <p class="desc mb-45">
                        Keeping in view the day by day increasing demand for female education, the Board of Directors of
                        the Charotar Education Society passed a resolution to establish a separate institution for girls
                        from June 1953 in the general meeting dated: 7-9-1952 to encourage girls' education. The name of
                        the institution was given as "Kasturba Kanya Vidyalaya" in order to associate the name of the
                        late Pujya Kasturba, who inspired millions of women in the independence movement of the country
                        Mahatma Gandhi, the father of the nation of India.
                    </p>
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->