<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">
                    <h4>Our Top Activities:</h4>
                    <p>વિદ્યાર્થીઓના શ્રેષ્ઠ ધડતર અર્થે તેમનામાં રહેલ સુષુપ્ત આંતરિક શક્તિઓને ઓળખી, સંપૂર્ણ માર્ગદર્શન
                        સાથે ખીલવી, એક આદર્શ નાગરિક બનાવી, આત્મવિશ્વાસ સાથે સિદ્ધિના શિખરો પ્રાપ્ત કરે તે હેતુ ને સાર્થક
                        કરવા માટે શાળામાં શિક્ષણની સાથે સાથે ઘણી બધી સહઅભ્યાસિક અને સાંસ્કૃતિક પ્રવુત્તિઓનું આયોજન
                        કરવામાં આવે છે. જેમાં વિધાર્થીઓ પોતાનો શ્રેષ્ઠ દેખાવ કરી, ઉત્કૃષ્ટ પ્રદર્શન કરી સફળતા મેળવે છે.
                        પ્રવુત્તિઓ જેવી કે,</p>
                    <div class="video-column col-lg-6">

                        <div class="inner-column">
                            <div class="course-features-info">

                                <ul>
                                    <li class="lectures-feature">
                                        <!-- <i class="fa fa-files-o"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">મહેંદી સ્પર્ધા
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <!-- <i class="fa fa-puzzle-piece"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">પેપર કટીંગ
                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">વકતૃત્વ સ્પર્ધા
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">ગુરુ પૂર્ણિમા
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">બંગડી ડેકોરેશન
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">જન્માષ્ટમી
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">શિક્ષક દિન</span>
                                    </li>
                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">હિન્દી દિન
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">ચિત્રવર્ણન સ્પર્ધા

                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">વેસ્ટમાંથી બેસ્ટ સ્પર્ધા

                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="video-column col-lg-6">
                        <div class="inner-column">
                            <div class="course-features-info">
                                <ul>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">ગીત સ્પર્ધા

                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">વોલપીસ સ્પર્ધા
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">સલાડ ડેકોરેશન
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">એક મિનીટ ગેમ
                                        </span>
                                    </li>
                                    <li class="lectures-feature">
                                        <!-- <i class="fa fa-files-o"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">ડાન્સ સ્પર્ધા
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <!-- <i class="fa fa-puzzle-piece"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">સંગીત સંધ્યા
                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">શૈક્ષણિક પ્રવાસ
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">બાહ્ય સ્પર્ધા
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">રમતગમત સ્પર્ધા
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">નેશનલ સાયન્સ ડે
                                        </span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>