<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From From Principal's desk</h2>
                    <h5>Krushnakant A. Patel 
                        <br>
                        <span>- Principal, D.N. High School (Primary),</span>
                    </h5>
                    <p>A land full of greenery with modern facilities, a land of discipline and cleanliness, a land of
                        action of revolutionaries, a natural environment that is famous all over the world, spreading
                        knowledge and creating the best citizens. It is an honor for me to have the opportunity to serve
                        in a school that has been in continuous operation since 1916 till date.</p>
                        <p>A school that inculcates culture and education with modern methods in accordance with today's
                            time means D. N. High School Upper Primary Division. A son of D. N. have a treasure of strength,
                            virtue and courage.
                        </p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/cems/principal.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->
                    
                    <p>A school that inculcates culture and education with modern methods in accordance with today's
                        time means D. N. High School Upper Primary Division. A son of D. N. have a treasure of strength,
                        virtue and courage.
                        Along with education, I have a desire to do something new by focusing on things like various
                        sports, exercise, yoga for the health of children. Along with all my teacher friends and other
                        staff and servant friends, I have cultivated a family spirit and remained loyal to the
                        institution and school, I am doing and will continue to do administrative work. I have a feeling
                        in my heart that a student of my school will go to any corner of the world, become proficient in
                        any field, make the name of the institution and school shine and in any field my student will
                        swim differently.
                    </p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>